NEXT_PUBLIC_API_BASE_URL=https://staging-api.caretekk.com/api/v1
BACKEND_API_BASE_URL=https://staging-api.caretekk.com/api/v1
NEXT_PUBLIC_WS_BASE_URL=wss://staging-api.caretekk.com
NEXT_PUBLIC_APP_URL=https://telehealthapp-frontend-m7yv.vercel.app
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
